@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Common */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* (used in docs page) */
code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  /* occupy empty space or reserve space */
  visibility: hidden;
  /* to make disappear by shrinking it */
  height: 0;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  /* to remove the scroll bars created by showcase-form */
  /* it passes through the contaniner */
  overflow: visible;
}

.showcase-text {
  animation: slideInFromLeft 0.8s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  /* to make sure it alwways appear top */
  z-index: 100;
  /* to specifically change the position along main axis (x-axis) */
  justify-self: end;
  animation: slideInFromRight 0.8s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* to make bottom slanting */
.showcase::before,
.showcase::after {
  content: "";
  /* related to showcase itself */
  position: absolute;
  height: 100px;
  /* push towards the bottom */
  bottom: -30px;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: skewY(-3deg);
  /* for compatibility */
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
}

/* Stats */
.stats {
  padding-top: 120px;
  animation: slideInFromBottom 0.8s ease-in;
}

.stats .stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* choosing 1st child inside .grid of .cli */
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .flex {
  display: flex;
  flex-wrap: wrap;
}

.languages .card {
  margin: 18px;
  margin: 18px 10px 40px;
  transition: transform 0.4s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  /* move upwards 
  positive -> downwards */
  transform: translateY(-15px);
}

/* Features */
.features-head img {
  width: 200px;
  /* horizontal individually */
  justify-self: end;
}

.features-sub-head img {
  width: 300px;
  justify-self: end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

/* can also use *:nth-child(n) selecting any 1st element */
.features-main .grid div:nth-child(1) {
  grid-column: 1 / span 3;
}

.features-main .grid div:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs-head img {
  width: 280px;
  justify-self: end;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(192, 181, 181);
}

/* Footer */
.footer .social i {
  margin: 8px 10px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    /* push it to left side (fully) */
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    /* push it to right (fully) */
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Tablets and under */
@media all and (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-head .grid,
  .features-sub-head .grid,
  .features-main div.grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 0.5s ease-in;
  }

  .showcase-form {
    /* main axis: y-axis
    so, justify-self is for horizontal alignment */
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 0.5s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  /* Features */
  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid div:nth-child(1),
  .features-main .grid div:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobiles */
@media all and (max-width: 500px) {
  .navbar {
    /* +height */
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }

  .showcase-form {
    width: 100%;
  }

  .docs-head .grid {
    grid-template-columns: 1fr;
  }
}
